doctype html
html
head
	link(href='../css/bootstrap.min.css' rel='stylesheet')
	link(href='../css/styles.css' rel='stylesheet')
	script(src='../js/moment.js')
	script(src='../js/QueryParams.js')
	script(src='../js/httpRequest.js')
	
body
	div.container
		div.row.well
			div.col-md-6
				p Pinnacle Photo Agency - User Administration
			div.col-md-2.text=center
				button.btn.btn-default(type='button' onclick="moveJob('#{token}')") View Jobs
			div.col-md-2.text=center
				button.btn.btn-default(type='button' onclick="moveAU('#{token}')") Add User
			div.col-md-2.text-right
				p Hello, #{user}
		div.row.well
		div.row
			table.table.table-striped.table-hover
				thead
					tr
						th Photographer
						th Admin
						th Active
						th Edit
						th Delete
				tbody
						each user in users
							tr
								td #{user.username}
								td #{user.admin}
								td #{user.active}
								td 
									button.btn.btn-default(type='submit' onclick="moveEU('#{token}', '#{user._id}')") Edit
								td 
									button.btn.btn-default(type='submit' onclick="sendUserDeleteRequest('#{token}', '#{user._id}')") Delete


